.button{
    padding: 10px;
    margin: 10px 10px;
    border-radius: 10px ;
    background-color:  rgb(165,10,50);
    color: white;
}

.form-container{
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:40px;
    margin-top: 60px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    width: 80%;
    
}

.form-input{
    display: flex;
    justify-content: center;
    padding: 20px;
}

.input-label{
    padding: 10px;
    font-weight: bolder;
}

.booking-info{
    display: flex;
    flex-direction: column;
    justify-content:start;
    color: black;
}

.table-booking{
    border-radius: 20px;
    width: 100%;
    background-color: rgb(53, 20, 18);
    color: white;
}

.table-booking-1{
    border-bottom: 10px solid white;
    width: 100%;
    margin-bottom: 10px;
    padding-left: 10px;
}

.input-box{
    width:35%;
    height: 50px;
    border-radius: 10px;
}

.footer{
    margin-bottom: 0%;
    bottom: 0;
    width: 100%;
}

.submit-button{
    margin-left: 50%;
}