.calender{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.calender-event-morning{
  color: white;
  border: 2px solid rgb(129, 43, 43);
  background-color: rgb(66, 11, 11);
  cursor: pointer;
}

.calender-event-evening{
  color: white;
  border: 2px solid rgb(5, 5, 66);
  background-color: rgb(40, 10, 141);
  cursor: pointer;
}